<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{$webnameval}</title>
		<meta name="Keywords" content="{$webkeyval}"/>
		<meta name="Description" content="{$webdesval}"/>
		{include file='public/js_css'}
	</head>
	<body>
		<!--header-->
		{include file='public/head' /}
		<!--banenr-->
		<div class="banner">
			{include file='public/banner' /}
		</div>
		
		<!--新闻列表 头部-->
		<div class="news-list-con">
			<div class="news-list-nav">
				<div class="news-list-nav-box">
					<ul>
						<li class="active"><a href="#mao1">企业简介</a></li>
						<li><a href="#mao2">技术服务</a></li>
						<li><a href="#mao3">履行承诺</a></li>
					</ul>
				</div>
				</div>
				
				<!--新闻列表-->
				<div class="news-list">
					<div class="news-list-box">
						<div class="ab_title"><a name='mao1'></a>企业简介</div>
						<div class="ad_cont">
							{$qyjj.pty_cont}
						</div>
						
						<div class="ad_img">
							{volist name='cfcmls' id='cfcmls'}
							<a href=""><img src="{neq name='cfcmls.cn_smallimg' value=''}/upload/images/{$cfcmls.cn_smallimg}{else /}/public/index/images/33.png{/neq}"></a>
							{/volist}
						</div>
					</div>
					
					<div class="jszc_div">
						<a name='mao2'><img src="/public/index/images/7.png"></a>
						<div class="text_jszc">
							{$jsfwval.pty_cont}
						</div>
						<div class="jszc_an"><a href="{:url('/index/product')}"><img src="/public/index/images/8.png"></a></div>
					</div>
					
					
					
					<div class="news-list-box">
						<div class="ab_title"><a name='mao1'></a>我们能为你带来什么？</div>
						<div class="ad_cont">
							{volist name='prodls' id='prodls'}
							<a href="{:url('product/details',array('id'=>$prodls['cn_id']))}">
								<div class="ab_prod">
									<img src="{neq name='prodls.cn_smallimg' value=''}/upload/images/{$prodls.cn_smallimg}{else /}/public/index/images/33.png{/neq}">
									<span>{$prodls.cn_title}</span>
									<p>{php}echo msubstr($prodls['cn_descr'],0,50){/php}</p>
								</div>
							</a>
							{/volist}
							
							
						</div>
						
						<div class="ab_cn_div">
							<a name="mao3"><img src="/public/index/images/9.png"></a>
						</div>
						<div class="ad_cont">
							{$lxcnval.pty_cont}
						</div>
						
					</div>
					
				</div>
				
			
			
		</div>
	


		

		
		{include file='public/link_foot'}
		
		{include file='public/foot'}
		
		
		
	</body>
</html>
