		<!--
        	作者：herenshan112@163.com
        	时间：2017-08-10
        	描述：底部
        -->
		<div class="footer">
			<div class="footer-con">
				<div class="footer-top">
					<img src="/public/index/images/footer-logo.jpg" alt="" />
					<ul class="footer-nav1">
						<li><a href="/">飞达机械首页</a></li>
						<li><a href="{:url('/index/about')}">走进飞达</a></li>
						<li><a href="{:url('/index/product')}">产品中心</a></li>
						<li><a href="{:url('/index/place')}">厂房厂貌</a></li>
					</ul>
					<ul class="footer-nav2">
						<li><a href="{:url('/index/news')}">新闻中心</a></li>
						<li><a href="{:url('/index/video')}">视频中心</a></li>
						<li><a href="{:url('/index/contactus')}">联系我们</a></li>
						<li><a href="{:url('/index/myserver')}">我们的服务</a></li>
					</ul>
					<ul class="footer-nav3">
						<li><a href="">地址：山东省烟台市莱山区海霸路55号</a></li>
						<li><a href="">电话：400-000-3232  0535-6022126/128/129</a></li>
						<li><a href="">传真：0535-6858809         邮编：264670  </a></li>
						<li><a href="">邮箱：yantaifeida@163.com</a></li>
					</ul>
					<div class="footer-ewm"><img src="/public/index/images/ewm.jpg" /><span>微信公众号</span></div>
				</div>
			</div>
			<div class="footer-btm">
					<p>烟台飞达机械设备有限公司    版权所有       备案号：鲁ICP备10003434号                  <img src="/public/index/images/footer-icon.jpg" alt="" />鲁公网安备 37061302000201号 </p>
			</div>
		</div>