<div class="header">
			<div class="header-tips">
				<div class="header-tip-con">
				<p><i class="iconfont">&#xe638;</i>欢迎光临烟台烟台飞达机械设备有限公司官方网站!</p>
				<p class="change-lang">
					<a href="/"><span><img src="/public/index/images/china.jpg"/>中文版</span></a>
					<i>|</i>
					<a href="/english"><span><img src="/public/index/images/english.jpg"/>ENGLISH</span></a>
				</p>
				<div class="clear"></div>
				</div>
			</div>
			<div class="header-main">
				<h1><a href=""><img src="/public/index/images/logo.jpg" alt="飞达机械" title="飞达机械"/></a></h1>
				<i></i>
				<h2><img src="/public/index/images/slogin.jpg" title="润滑油专用[灌装设备]生产基地,细节决定成败，专注成就未来" alt="润滑油专用[灌装设备]生产基地,细节决定成败，专注成就未来"/></h2>
				<div class="header-main-right">
					<div class="head-tel"><img src="/public/index/images/tel.jpg"/></div>
					<div class="head-ewm"><img src="/public/index/images/ewm.jpg"/><span>[微信扫一扫]</span></div>
				</div>
			</div>
			<div class="nav">
				<div class="nav-con">
					<ul>
						<li {eq name='headset' value="1"}class="active"{/eq}><a href="/">网站首页</a>{neq name='headset' value="2"}<i></i>{/neq}</li>
						<li {eq name='headset' value="2"}class="active"{/eq}><a href="{:url('/index/about')}">关于飞达</a>{neq name='headset' value="3"}<i></i>{/neq}</li>
						<li {eq name='headset' value="3"}class="active"{/eq}><a href="{:url('/index/product')}">产品中心</a>{neq name='headset' value="4"}<i></i>{/neq}</li>
						<li {eq name='headset' value="4"}class="active"{/eq}><a href="{:url('/index/news')}">新闻中心</a>{neq name='headset' value="5"}<i></i>{/neq}</li>
						<li {eq name='headset' value="5"}class="active"{/eq}><a href="{:url('/index/contactus')}">联系我们</a><i></i></li>
					</ul>
				</div>
			</div>
		</div>