<link rel="stylesheet" href="/public/admin/css/css.css" />
<link rel="stylesheet" href="/public/admin/css/icon/font-awesome.css" />
<link rel="stylesheet" href="/public/admin/css/admin_css.css" />
<script type="text/javascript" src="/public/admin/js/jquery-2.1.1.min.js" ></script>
<script type="text/javascript" src="/public/admin/js/admin.js" ></script>
<script type="text/javascript" src="/public/admin/js/myjs.js" ></script>
<script type="text/javascript" src="/public/admin/js/uploadfile.js" ></script>