<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>添加管理员</title>
		{include file='public/css_js' /}
	</head>
	<body>
		<div class="pl_body">
			<div class="pl_cont">
				<div class="webset_top">
					<a href="{:url('admingrod/index')}">管理员</a>
					<a class="active" href="{:url('admingrod/index',array('action'=>'add'))}">添加管理员</a>
					<span class="icon-repeat shuaxin" onclick="webreload()"></span>
				</div>
				<div class="webset_foot">
					<form method="post" name="webset" id="webset" action="{:url('admingrod/index',array('action'=>'addcl'))}">
						<div class="webset_input_text">
							<span>用户名：</span>
							<input type="text" name="username" id="username" placeholder="请输入用户名" value="">
							<em><i class="icon-exclamation-sign"></i>请输入用户名</em>
						</div>
						<div class="webset_input_text">
							<span>密码：</span>
							<input type="password" name="newpwd" id="newpwd" placeholder="请输入密码" value="">
							<em><i class="icon-exclamation-sign"></i>请输入密码</em>
						</div>
						<div class="webset_input_text">
							<span>确认密码：</span>
							<input type="password" name="qrpwd" id="qrpwd" placeholder="请输入确认密码" value="">
							<em><i class="icon-exclamation-sign"></i>请输入确认密码</em>
						</div>
						
						<div class="webset_input_text">
							<span>管理权限：</span>
							<select name="usegrd" id="usegrd" >
								<option value="0">※※※请选择管理权限※※※</option>
								{volist name='grdlist' id='grdlist'}
									<option  value="{$grdlist.grd_id}" >{$grdlist.grd_title}</option>
								{/volist}							
							</select>
							<em></em>
						</div>
						
						
						
						<div class="webset_input_text">
							<span>联系人：</span>
							<input type="text" name="callname" id="callname" placeholder="请输入用户名" value="">
							<em><i class="icon-exclamation-sign"></i>请输入用户名</em>
						</div>
						<div class="webset_input_text">
							<span>联系电话：</span>
							<input type="text" name="calltel" id="calltel" placeholder="请输入联系电话" value="">
							<em><i class="icon-exclamation-sign"></i>请输入联系电话</em>
						</div>
						<div class="webset_input_text">
							<span>QQ：</span>
							<input type="text" name="qqnum" id="qqnum" placeholder="请输入QQ" value="">
							<em><i class="icon-exclamation-sign"></i>请输入QQ</em>
						</div>
						<div class="webset_input_text">
							<span>E-mail：</span>
							<input type="text" name="email" id="email" placeholder="请输入E-mail" value="">
							<em><i class="icon-exclamation-sign"></i>请输入E-mail</em>
						</div>
						<div class="webset_input_text">
							<span>联系地址：</span>
							<input type="text" name="address" id="address" placeholder="请输入联系地址" value="">
							<em><i class="icon-exclamation-sign"></i>请输入联系地址</em>
						</div>
						<div class="webset_upimg_text">
							<span>头像：</span>
							<input type="text" name="smlpicval" id="smlpicval" placeholder="请上传封面图" value="">
							<em onclick="getElementById('upimgtoux').click()">&nbsp;</em>
							<a class="webset_a"><img id="smlpiclook" src="/public/admin/images/20.png" alt="上传图片" /></a>
							<h2 id="uppic_error_sml"></h2>
							<input type="file" multiple="upimgtoux" id="upimgtoux" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;"> <input type="hidden" name="upimgtouxty" id="upimgtouxty" value="6"> 
						</div>
						<div class="webset_textarea">
							<span>管理员简介：</span>
							<textarea name="content" id="content" class="gao_du_textarea"></textarea>
						</div>
						<div class='webset_radio'>
							<span>状态：</span>
							<input type="radio" name="userset" id="userset" value="1" checked>
							<em>启用</em>
							<input type="radio" name="userset" id="userset" value="0">
							<em>锁定</em>
						</div>
						<div class="buttion_submit">
							<input type="submit" value="确认提交" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
