<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{$webnameval}</title>
		<meta name="Keywords" content="{$webkeyval}"/>
		<meta name="Description" content="{$webdesval}"/>
		{include file='public/js_css'}
	</head>
	<body>
		<!--header-->
		{include file='public/head'}
		<!--banenr-->
		<div class="banner">
			{include file='public/banner'}
		</div>
		
		<div class="crumb">
			<div class="search-con">
				<div class="search-left">
					<p style="font-size: 16px;"><i class="iconfont">&#xe600;</i><span>Current Location：</span><a href="{:url('index/index')}">Home</a>- <a href="javascript:;">Search Result</a></p>
				</div>
				<div class="search-right"><form method="post" name="sousuo" action="{:url('/english/searchs')}"  onsubmit="return jumpserval();"><input type="text" name="sousuoval" id="sousuoval" value="" placeholder="Please enter the search keywords"/><button class="search-btn"><i class="iconfont">&#xe60a;</i></button></form></div>
			</div>
		</div>
		<!--新闻列表 头部-->
		<div class="news-list-con">
			
				
				<!--新闻列表-->
				<div class="news-list">
					<div class="news-list-box">
					<ul>
						{volist name='list' id='list' empty='$empt'}
						<li>
							<div class="news-list-left"><a href="{$list.pty_id|seaclokurl}?id={$list.cn_id}"><img src="{neq name='list.cn_smallimg' value=''}/upload/images/{$list.cn_smallimg}{else /}/public/admin/images/33.png{/neq}"/></a></div>
							<div class="news-list-right">
								<h3><a href="{$list.pty_id|seaclokurl}?id={$list.cn_id}">{php}echo daitizifu($sousuoval,$list['cn_title']);{/php}</a></h3>
								<p><a style="color: #666;" href="{$list.pty_id|seaclokurl}?id={$list.cn_id}">{php}echo daitizifu($sousuoval,msubstr($list['cn_descr'],0,180)){/php}</a></p>
								<a href="{$list.pty_id|seaclokurl}?id={$list.cn_id}">More</a>
								<span>Publish：{$list.cn_time|date='Y-m-d H:i:s',###}</span>
							</div>
						</li>
						{/volist}
						
						
					</ul>
					
					<div class="page">
							  	<div class="page-con">
							  		{$pages}
							  	</div>
					</div>
					
					<div class="clear"></div>
					
					</div>
				</div>
				
			
			
		</div>
	


		

		
		{include file='public/link_foot'}
		
		{include file='public/foot'}
		
		
	<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 30,
        hashnav: true,
        hashnavWatchState: true
    });
    var swiper2 = new Swiper('.swiper-container2', {
        //pagination: '.swiper-pagination2',
        nextButton: '.swiper-button-next2',
        prevButton: '.swiper-button-prev2',
        paginationClickable: true,
        spaceBetween: 30,
        //autoplay:3000
    });
    </script>
		
		
		
	</body>
</html>
