<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>广告类型</title>
		{include file='public/css_js' /}
	</head>
	<body>
		<div class="pl_body">
			<div class="pl_cont">
				<div class="webset_top">
					<a class="active" href="{:url('advert/type')}">类型列表</a>
					<a href="{:url('advert/type',array('action'=>'add'))}" {php}if(!in_array(20, explode('|',$sesval['grdval']))){echo 'style="display:none"';}{/php}>添加类型</a>
					<span class="icon-repeat shuaxin" onclick="webreload()"></span>
				</div>
				
				<div class="webset_list">
					<table class="webset_tabel">
						<tr>
							<th width="5%">ID</th>
							<th width="45%">类型名称</th>
							<th width="20%">有效范围</th>
							<th width="10%">发布人</th>
							<th width="5%">状态</th>
							<th width="15%">操作</th>
						</tr>
						{volist name='list' id='list' empty='$empt'}
						<tr>
							
							<td>{$list.advt_id}</td>
							<td>{$list.advt_title}</td>
							<td>{$list.advt_fanwei|advyxfw}</td>
							<td>{$list.advt_uid|get_admin}</td>
							<td><i class="{eq name='list.advt_setval' value='1'}icon-unlock lock_color{else /}icon-lock lock_color_red{/eq}"></i></td>
							<td>
								<a class="icon-edit webset_bianji_icon" href="{:url('advert/type',array('action'=>'eite','id'=>$list['advt_id']))}" title="修改" {php}if(!in_array(21, explode('|',$sesval['grdval']))){echo 'style="display:none"';}{/php}>&nbsp;</a>
								<a class="icon-trash webset_bianji_icon" onclick="deltall({$list.advt_id},'deltcont','fukj','{:url('deltadvtype')}')" title="删除" {php}if(!in_array(22, explode('|',$sesval['grdval']))){echo 'style="display:none"';}{/php}>&nbsp;</a>
							</td>
						</tr>
						{/volist}
						<tr>
							<td colspan="6">
								<div>
									{$page}
								</div>
							</td>
						</tr>
						
					</table>
				</div>

			</div>
		</div>
		
		
		
		
		<div class="control_pf_bj" id="fukj">
        	
	        <em class="icon-spinner icon-spin icon-5x loading_icon jzcolor" id="load_pf" style="margin: 100px 0 0 100px;"></em>
	        {include file='public/delte' /}
		</div>
		
		
	</body>
</html>
