		<!--
        	作者：herenshan112@163.com
        	时间：2017-08-10
        	描述：底部
        -->
		<div class="footer">
			<div class="footer-con">
				<div class="footer-top1">
					<img src="/public/index/images/15.png" alt="" />
					<ul class="footer-nav1">
						<li><a href="/english">Home</a></li>
						<li><a href="{:url('/english/about')}">Walk into Feida</a></li>
						<li><a href="{:url('/english/product')}">Products</a></li>
						<li><a href="{:url('/english/place')}">Factory Appearance</a></li>
					</ul>
					<ul class="footer-nav2">
						<li><a href="{:url('/english/news')}">News</a></li>
						<li><a href="{:url('/english/video')}">Video</a></li>
						<li><a href="{:url('/english/contactus')}">Contact us</a></li>
						<li><a href="{:url('/english/myserver')}">Our services</a></li>
					</ul>
					<ul class="footer-nav3">
						<li><a href="">Address：Shandong Yantai Laishan District HAIBA Road No. 55</a></li>
						<li><a href="">Telephone：400-000-3232  0535-6022126/128/129</a></li>
						<li><a href="">Fax：0535-6858809    Zip code：264670  </a></li>
						<li><a href="">E-mail：yantaifeida@163.com</a></li>
					</ul>
					<div class="footer-ewm"><img src="/public/index/images/ewm.jpg" /><span>WeChat</span></div>
				</div>
			</div>
			<div class="footer-btm">
					<p>Yantai Feida Machinery Equipment Co., Ltd.    Copyright       ICP：Lu ICP, number 10003434                 <img src="/public/index/images/footer-icon.jpg" alt="" />Lu public security number 37061302000201 </p>
			</div>
		</div>