<div class="header">
			<div class="header-tips">
				<div class="header-tip-con">
				<p><i class="iconfont">&#xe638;</i>Welcome to Yantai Yantai Feida Machinery Equipment Co., Ltd. official website!</p>
				<p class="change-lang">
					<a href="/english"><span><img src="/public/index/images/english.jpg"/>ENGLISH</span></a>
					<i>|</i>
					<a href="/"><span><img src="/public/index/images/china.jpg"/>CHIANS</span></a>
				</p>
				<div class="clear"></div>
				</div>
			</div>
			<div class="header-main">
				<h1><a href=""><img src="/public/index/images/17.png" alt="Feida Machinery" title="Feida Machinery"/></a></h1>
				<i></i>
				<h2><img src="/public/index/images/19.jpg" title="Lubricants dedicated [filling equipment] production base, the details determine success or failure, focus on future achievements" alt="Lubricants dedicated [filling equipment] production base, the details determine success or failure, focus on future achievements"/></h2>
				<div class="header-main-right">
					<div class="head-tel"><img src="/public/index/images/18.png"/></div>
					<div class="head-ewm"><img src="/public/index/images/ewm.jpg"/><span>[SweepHer]</span></div>
				</div>
			</div>
			<div class="nav">
				<div class="nav-con">
					<ul>
						<li {eq name='headset' value="1"}class="active"{/eq}><a href="/english">Home</a>{neq name='headset' value="2"}<i></i>{/neq}</li>
						<li {eq name='headset' value="2"}class="active"{/eq}><a href="{:url('/english/about')}">About Us</a>{neq name='headset' value="3"}<i></i>{/neq}</li>
						<li {eq name='headset' value="3"}class="active"{/eq}><a href="{:url('/english/product')}">Products</a>{neq name='headset' value="4"}<i></i>{/neq}</li>
						<li {eq name='headset' value="4"}class="active"{/eq}><a href="{:url('/english/news')}">News</a>{neq name='headset' value="5"}<i></i>{/neq}</li>
						<li {eq name='headset' value="5"}class="active"{/eq}><a href="{:url('/english/contactus')}">Contct Us</a><i></i></li>
					</ul>
				</div>
			</div>
		</div>